.container-gallery {
    padding: 50px 30px;
    .gallery {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(100px,auto);
        grid-gap: 15px;
        &__item {
            position: relative;
            box-shadow: 0px 5px 10px rgba(0,0,0,.5);
            &--popup {
                span {
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    color: #ffffff;
                    font-size: 20px;
                    text-align: center;
                    bottom: 20px;
                    opacity: 0;
                }
                img{
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                }
            }
            :before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,.3);
                transition: .5s;
                opacity: 0;
                will-change: opacity;
            }
            &:hover {
                .gallery__item--popup {
                    &::before {
                        opacity: 1;
                    }
                    span {
                        opacity: 1;
                    }
                } 
                cursor: pointer;
            }
        }

    }
}
.header-gallery {
    background: url('https://images.pexels.com/photos/1332373/pexels-photo-1332373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=2000') center no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    .title-gallery {
        text-align:  center;
        margin: 0 auto;
        color:  #a2a2a2;
        font-size: 40px;
        font-weight: 700;
    }
    
}
@media screen and (max-width: 1400px) {
    .container-gallery {
        .gallery {
            grid-template-columns: repeat(3,1fr);
        }
    }
}
@media screen and (max-width: 768px) {
    .container-gallery {
        .gallery {
            grid-template-columns: repeat(2,1fr);
        }
    }
}
@media screen and (max-width: 500px) {
    .container-gallery {
        padding: 50px 20px;
        .gallery {
            grid-template-columns: repeat(1,1fr);
            grid-gap: 20px;
        }
    }
}


  